{% ckan_extends %}


{% block package_info %}
{{ super() }}

{% block package_openness %}
{% if pkg and pkg.get('its_quality') %}
<div class="module module-narrow module-shallow context-info">
    <h2 class="module-heading"><i class="icon-eye-open"></i> {{ _('Quality') }}</h2>
    <section class="module-content">
        <span>
      {%- for index in range(pkg.its_quality) -%}
        <span class="icon icon-star"></span>
      {%- endfor -%}
      {%- for index in range(5-pkg.its_quality) -%}
        <span class="icon icon-star-empty"></span>
      {%- endfor -%}
    </span>
    </section>
</div>
{% endif %}
{% endblock %}

{% endblock %}
