{% ckan_extends %}

{% block package_basic_fields_custom %}


<div class="control-group">
    <label for="field-location" class="control-label">{{ _('Location') }}</label>
    <div class="controls">
        <select id="field-location" name="its_location" data-module="autocomplete" data-selected="{{ data.its_location }}">
            <option value="">{{ _('Select a location...') }}</option>
        </select>
    </div>
</div>
<div class="control-group">
    <label for="field-quality" class="control-label">{{ _('Quality') }}</label>
    <div class="controls">
        <select id="field-quality" name="its_quality" data-module="autocomplete" data-selected="{{ data.its_quality }}">
            <option value="0">0</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    </div>
</div>


{% resource 'ckanext-its/js/init.js' %}
{% endblock %}