{% ckan_extends %}

{% block package_description %}
{{ super() }}

{% if pkg.get('its_location') %}
<section id="dataset-its_location" class="resources module-content">
    <p><strong>Location</strong>: {{ pkg.its_location }}</p>
</section>
{% endif %}


        {#--
{% if pkg.get('its_quality') %}
<section id="dataset-its_quality" class="resources module-content">
    <p><strong>Quality</strong>:
        <span>
      {%- for index in range(pkg.its_quality) -%}
        <span class="icon icon-star"></span>
      {%- endfor -%}
      {%- for index in range(5-pkg.its_quality) -%}
        <span class="icon icon-star-empty"></span>
      {%- endfor -%}
    </span></p>
</section>
{% endif %}
        --#}



{% endblock %}