{% ckan_extends %}

{% block home_search %}
<form class="module-content search-form" method="get" action="{% url_for controller='package', action='search' %}">
    <h3 class="heading">{{ _("Search Your Data") }}</h3>
    <div class="search-input control-group search-giant">
        <input type="text" class="search" name="q" value="{{ c.q }}" autocomplete="off" placeholder="{{ _('eg. Parking Places') }}" />
        <button type="submit">
            <i class="icon-search"></i>
            <span>{{ _('Search') }}</span>
        </button>
    </div>
</form>
{% endblock %}
